body {
	background-color: $background-color;
	padding: 1em;
}

.container {
	max-width: 90%;
	margin: 0 auto;
}

@include breakpoint($large-device-breakpoint) {
	.container {
		width: $large-device-breakpoint;
	}
}

h1 {
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	//text-decoration: underline;
}

.date {
	color: $faint-color;
	text-align: center;
}

h1 + .date {
	margin-top: -1em;
}

article header {
	margin-top: 6em;
	margin-bottom: 3em;
}