// Colors from:  http://www.colourlovers.com/palette/359978/w_o_r_d_l_e_s_s_.

$background-color: #F6F5ED;
$text-color: #404344;
$accent-color-1: #06B9E0;
$accent-color-2: #B0D8CF;
$accent-color-3: #FFA3A3;
$faint-color: #CCCBBF;