// Colors from: https://designschool.canva.com/blog/website-color-schemes/ and then #21
$blueberry: #6B7A8F;
$apricot: #F7882F;
$citrus: #F7C331;
$applecore: #DCC7AA;

$background-color: #fdfcfa;
$text-color: #304344;
$accent-color-1: darken($apricot, 10%);
$accent-color-2: #B0D8CF;
$accent-color-3: #FFA3A3;
//$faint-color: #CCCBBF;
$faint-color: #C3E1DB;

// Poole overwrites:
// =================

body { background-color: $background-color; }

hr { border-bottom-color: $background-color; }