@font-face {
    font-family: 'Calendas Plus';
    src: url('/assets/fonts/Calendas_Plus-webfont.eot');
    src: url('/assets/fonts/Calendas_Plus-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/Calendas_Plus-webfont.woff2') format('woff2'),
         url('/assets/fonts/Calendas_Plus-webfont.woff') format('woff'),
         url('/assets/fonts/Calendas_Plus-webfont.ttf') format('truetype'),
         url('/assets/fonts/Calendas_Plus-webfont.svg#calendas_plusregular') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Calendas Plus';
    src: url('/assets/fonts/Calendas_Plus_Bold-webfont.eot');
    src: url('/assets/fonts/Calendas_Plus_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/Calendas_Plus_Bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/Calendas_Plus_Bold-webfont.woff') format('woff'),
         url('/assets/fonts/Calendas_Plus_Bold-webfont.ttf') format('truetype'),
         url('/assets/fonts/Calendas_Plus_Bold-webfont.svg#calendas_plusbold') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Calendas Plus';
    src: url('/assets/fonts/Calendas_Plus_Italic-webfont.eot');
    src: url('/assets/fonts/Calendas_Plus_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/Calendas_Plus_Italic-webfont.woff2') format('woff2'),
         url('/assets/fonts/Calendas_Plus_Italic-webfont.woff') format('woff'),
         url('/assets/fonts/Calendas_Plus_Italic-webfont.ttf') format('truetype'),
         url('/assets/fonts/Calendas_Plus_Italic-webfont.svg#calendas_plusitalic') format('svg');
    font-weight: 300;
    font-style: italic;

}