---
---

/* ==========================================================================
   Imports
   ========================================================================== */

$small-device-breakpoint: 400px;
$middle-device-breakpoint: 550px;
$large-device-breakpoint: 720px;

@mixin breakpoint($point) {
 	@media only screen and (min-width: $point) {
		@content ;
	}
}


@import "normalize";
@import "colors";
@import "typography";

@import "body";
@import "site-header";

//@import "mixins";
//@import "variables";
//@import "grid";
//@import "type";
//@import "styles";

// Remove the definition below for a pixel-based layout
$total-width: 100%;

@include breakpoint($small-device-breakpoint) {
	body {
		//background-color: lighten(#000000, 75%) !important;
	}
}

@include breakpoint($middle-device-breakpoint) {
	body {
		//background-color: lighten(#000000, 50%) !important;
	}
}

