{% include head.html %}

<!--<section class="article archive">
  <article class="archive-wrap">
      <ol class="post-list">
         <lh><h1><span class="bb">{{ page.title }}</span></h1></lh>
          {% for post in site.posts %}
          <li>
            <div class="deets" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                <h2><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
                <p class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></p>
                <p class="">{% if post.description %}{{ post.description  | strip_html | strip_newlines | truncate: 120 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
            </div>
          </li>
          {% endfor %}
      </ol>
  </article>
</section>-->

<div class="container">
    <header class="post-header">
        <h1>{{ page.title }}</h1>
    </header>

    {% for post in site.posts %}
      <section>
        <h2><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
        <p class="date">
          <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time>
        </p>
        <p class="">
          {% if post.description %}{{ post.description  | strip_html | strip_newlines | truncate: 120 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}
        </p>
      </section>
    {% endfor %}
</div>

{% include footer.html %}