---
layout: default
---

<div class="list-of-posts">
  <h1 class="page-title"><span class="page-title-inline">{{ page.title }}</span></h1>

  {% for post in site.posts %}
  <article class="post">
    <h2>
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    {% if post.description %}{{ post.description  | strip_html | strip_newlines | truncate: 120 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}
  </article>
  {% endfor %}
</div>